:root {
    --primary-color: #ffffff;
    --secondary-color: #F6F6F6;
    --tertiary-color: #c7c7c7;
    --text-color: #000000;
    --card-radius: 14px;
    --alive-color: #cbfdcb;
    --dead-color: #ffadaa;
    --unknown-color: #b3b3b3;
}

* {
    margin: 0;
    padding: 0;
    /* border: 0; */
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100dvh;
    color: var(--text-color);
    overflow: hidden;
}

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6dvh;
    padding: 2px 30px;
    border-bottom: 1px solid var(--tertiary-color);
}

#logo-titulo {
    display: flex;
    align-items: center;
    height: 100%;
}

#logo-titulo img {
    height: 100%;
}

#logo-titulo h1 {
    font-weight: bolder;
    font-size: clamp(14px, 1.5vw, 20px);
}

#data-hora-header {
    font-size: 14px;
}

#container-principal {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 94dvh;
}

aside {
    background-color: var(--primary-color);
    border-right: 1px solid var(--tertiary-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: clamp(20px, 5vh, 40px) 30px;
    max-height: inherit;
}

aside div {
    display: flex;
    flex-direction: column;
}

.campo-filtro {
    margin-top: 8px;
    height: 40px;
    border-radius: 6px;
}

#filtros button {
    margin-top: 8px;
}

main {
    background-color: var(--secondary-color);
    min-height: 100%;
    overflow-y: auto;
    padding: 30px 40px;
}

#galeria-personagens {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    align-content: start;
}

.card-personagem {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: ease 0.2s;
}

.card-personagem:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.foto-personagem {
    width: 100%;
}

.informacoes-card-personagem {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 12px;
    border: 1px solid var(--tertiary-color);
    border-top: none;
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}

.informacoes-card-personagem h3 {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;
}

#modal-personagem {
    position: absolute;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    width: clamp(300px, 25vw, 500px);
    max-height: 95vh;
    background-color: var(--primary-color);
    transform: translate(-50%, -50%);
    border: none;
    text-wrap: wrap;
}

#modal-personagem[open] {
    display: flex;
    flex-direction: column;
}

#modal-personagem img{
    height: 100%;
}

#informacoes-modal-personagem {
    width: 100%;
    padding: 10px 20px;
}

#informacoes-modal-personagem p{
    padding: 10px 0;
    border-bottom: 1px solid var(--tertiary-color);
    overflow: auto;
}

#botao-fechar-modal {
    position: absolute;
    /* padding: 10px; */
    top: 0;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    text-shadow:0 0 10px var(--text-color);
}

#botao-fechar-modal:hover {
    cursor: pointer;
}